*{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
 body{
   margin: 0;
 }
html {
  line-height: 1.15;
  letter-spacing: 0.1em;
  color: #637588;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  overflow-y: scroll;
  display: block;
}

[hidden] {
  display: none;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 3.75rem;
  font-weight: 300;
  line-height: 1.2em;
  letter-spacing: 0.08em;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.btn,
.btn-accent {
  display: block;
  font-size: 1.125rem;
  text-align: center;
  letter-spacing: 0.1em;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.btn {
  min-width: 250px;
  padding: 18px 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #ffffff;
}

.btn-accent {
  min-width: 350px;
  padding: 18px 20px;
  background-color: rgba(45, 54, 81, 0.8);
  border: 2px solid #ffffff;
}

.btn-accent:hover {
  background-color: #d66926;
}

.btn:hover {
  background-color: #d66926;
}

.header {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.header-overlay {
  background-color: #2d3651;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
}

.header-menu {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}

.header-menu__container {
  display: grid;
  grid-template-columns: auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu__container,
.header-content__container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
}

.header-logo {
  letter-spacing: 0.22em;
  font-size: 1.5rem;
}

.header-logo__link {
  display: block;
  padding: 20px 20px 20px 0;
}

.header-logo__link {
  display: block;
}

.header-logo__accent {
  display: inline-block;
  border: 3px solid #d53d27;
  padding: 14px 1px 13px 5px;
  margin-right: 4px;
}

.header-navbar__btn {
  display: none;
}

.header-navbar__list {
  list-style: none;
  margin: 0 -20px 0 0;
  padding: 0;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  grid-template-columns: repeat(auto-fit, minmax(50px, -webkit-max-content));
  grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
}

.header-navbar__link {
  display: block;
  padding: 20px;
  font-size: 1.125rem;
}

.header-content {
  position: relative;
}

.header-content__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-content__title {
  color: #ffffff;
  text-align: center;
  margin: 0 0 53px;
}

.header-content__buttons .btn:first-of-type {
  margin-right: 20px;
}

.skills {
  padding: 10px;
}

.hidden {
  display: none;
}

.skills__container {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "a1 a1 a2 a3" "a4 a5 a5 a6" "a7 a8 a9 a6";
  grid-auto-rows: calc(33.333vh - 13.333px);
  margin-bottom: 10px;
}

.skills__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px;
}

.skills-item {
  background-color: #2d3651;
  position: relative;
  overflow: hidden;
}

.skills-item:nth-of-type(1) {
  grid-area: a1;
}

.skills-item:nth-of-type(2) {
  grid-area: a2;
}

.skills-item:nth-of-type(3) {
  grid-area: a3;
}

.skills-item:nth-of-type(4) {
  grid-area: a4;
}

.skills-item:nth-of-type(5) {
  grid-area: a5;
}

.skills-item:nth-of-type(6) {
  grid-area: a6;
}

.skills-item:nth-of-type(7) {
  grid-area: a7;
}

.skills-item:nth-of-type(8) {
  grid-area: a8;
}

.skills-item:nth-of-type(9) {
  grid-area: a9;
}

.skills-item:hover .skills-item__overlay {
  opacity: 0.95 !important;
}

.skills-item:hover .skills-item__image {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.skills-item:hover .skills-item__link {
  color: #d66926;
}

.skills-item__overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2d3651;
  opacity: 0.8;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.skills-item__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.skills-item__title {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
}

.skills-item__link {
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

@media (max-width: 992px) {
  h1 {
    font-size: 2.5rem;
  }
  .header-content__title {
    margin: 0 0 43px 0;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.875rem;
  }
  .header-content__title {
    margin: 0 0 33px 0;
  }
}

@media (max-width: 640px) {
  .skills__container {
    grid-auto-rows: 217px;
  }
}
