
.header-content {
  position: relative;

  &__buttons {
    display: flex;
    justify-content: center;

    .btn:first-of-type {
      margin-right: 20px;
    }
  }
  &__title {
    color: #ffffff;
    text-align: center;
    margin: 0 0 53px;
  }

  &__container {
    @extend %container;
  }
}